body {
    font-family: 'Poppins', sans-serif;
}

.donation {
    background-image: url(images/donation6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;

}

.header {
    padding: 100px 150px;

}